body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(0.25turn, #111111 48%, #455e2d 49.5%, #99D063 50%, #455e2d 50.5%, #111111 52%);
  color: #fcbd56;
}

body.animate {
  animation: 0.5s linear 0s infinite running flareup;
}

.flex-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-wrapper {
  align-self: center;
}

.content {
  /* Setting a position other than sticky is required to activate z-index on the element. */
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

h1 {
  width: fit-content;
  font-size: 1.5em;
  margin: 0;
  padding: 3px 8px;
  position: relative;
  top: 50%;
  z-index: 3;
  border: 3px solid #fcbd56;
  background-color: #715529;
}

.converters {
  border: 3px solid #fcbd56;
  padding: 8px;
  background-color: rgba(113, 85, 41, 0.7);
}

.result-wrapper {
  height: 3em;
  background-color: rgba(175, 132, 61, 0.5);
  margin-top: 8px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrolling-code {
  overflow: hidden;
  z-index: 1;
  /* La ligne suivante permet de faire démarrer l'animation en dehors de l'écran, plutôt que de "spawner" le code */
  /* directement à gauche. */
  margin-left: -10%;
  font-family: 'Encode Sans', sans-serif;
  font-size: 2em;
  /* Vu que les lignes de code sont des divs de texte, la ligne suivante permet d'empêcher l'utilisateur d'interagir */
  /* avec elles par la souris. */
  pointer-events: none;
}

#string-one {
  position: absolute;
  top: 12%;
  animation: 4.5s linear 5.3s infinite running slidein;
}

#string-two {
  position: absolute;
  top: 15%;
  animation: 4.5s linear 3s infinite running slidein;
}

#string-three {
  position: absolute;
  top: 23%;
  animation: 4.5s linear 8s infinite running slidein;
}

#string-four {
  position: absolute;
  top: 46%;
  animation: 4.5s linear 1.2s infinite running slidein;
}

#string-five {
  position: absolute;
  top: 55%;
  animation: 4.5s linear 0.7s infinite running slidein;
}

#string-six {
  position: absolute;
  top: 89%;
  animation: 4.5s linear 2.2s infinite running slidein;
}

#string-seven {
  position: absolute;
  top: 93%;
  animation: 4.5s linear 0s infinite running slidein;
}

.scrolling-binary, .scrolling-decimal {
  font-style: italic;
}

.scrolling-binary {
  color: #37e370;
}

.scrolling-decimal {
  color: #fcbd56;
}

spark {
  left: 50vw;
  pointer-events: none;
  position: fixed;
  top: 0;
  /* L'opacité de 0 pemet de ne pas faire apparaître les étincelles en haut de l'écran juste avant qu'elles soient */
  /* déplacées au vrai point de collision. Elle est changée en cours d'animation par le JS. */
  opacity: 0;
}

@keyframes slidein {
  0% {
    margin-left: -10%;
  }

  100% {
    margin-left: 100%;
  }
}

@keyframes flareup {
  0% {
    background: linear-gradient(0.25turn, #111111 48%, #455e2d 49.5%, #99D063 50%, #455e2d 50.5%, #111111 52%);
  }

  50% {
    background: linear-gradient(0.25turn, #111111 48%, #6d914b 49.5%, #b1e280 50%, #6d914b 50.5%, #111111 52%);
  }

  75% {
    background: linear-gradient(0.25turn, #111111 48%, #455e2d 49.5%, #99D063 50%, #455e2d 50.5%, #111111 52%);
  }

  82% {
    background: linear-gradient(0.25turn, #111111 48%, #6d914b 49.5%, #b1e280 50%, #6d914b 50.5%, #111111 52%);
  }

  90% {
    background: linear-gradient(0.25turn, #111111 48%, #455e2d 49.5%, #99D063 50%, #455e2d 50.5%, #111111 52%);
  }

  100% {
    background: linear-gradient(0.25turn, #111111 48%, #6d914b 49.5%, #b1e280 50%, #6d914b 50.5%, #111111 52%);
  }
}
